<!DOCTYPE html>
<html>
  <head>
    <title>NAUI@<%= Rails.env %></title>
    <%= csrf_meta_tags %>

    <%= stylesheet_link_tag    'application', media: 'all', 'data-turbolinks-track': 'reload' %>
    <%= javascript_include_tag 'application', 'data-turbolinks-track': 'reload' %>
  </head>

  <body>
    <%= yield %>

    <% if Rails.env.in?(%w[development test]) %>
      <%= console %>
    <% end %>
  </body>
</html>
